.profileContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

i.userIcon {
  margin-bottom: 50px;
}

.actionButton {
  padding: 10px;
  font-size: large;
  font-weight: bold;
  margin: 10px;
  width: 20rem;
}